/* ==========================================================================
   Generic
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base   
    ========================================================================== */

body {
  font: 1.125rem/160%;
  font-family: "Frank Ruhl Libre", serif;
}

/* ==========================================================================
   Mise en page
   ========================================================================== */

/* ==========================================================================
   Element/typographie
   ========================================================================== */

/* ==========================================================================
   Components
   ========================================================================== */
