/* ==========================================================================
   Generic
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base   
    ========================================================================== */

body {
  font: 1.125rem/160%;
  font-family: "Frank Ruhl Libre", serif;
  background-color: #07020d;
  color: #fff;
}

/* ==========================================================================
   Mise en page
   ========================================================================== */
.wrapper {
  width: 1280px;
  margin: 0 auto;
}

/* ==========================================================================
   Element/typographie
   ========================================================================== */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

/* ==========================================================================
   Components
   ========================================================================== */

.header {
  color: #07020d;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
}

header .wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 800px;
}

.logo {
  font-size: 1.875rem;
  color: inherit;
}

.menu span {
  font-size: 1.875rem;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.hero {
  height: 400px;
  background-image: url(../images/photos/mountains.jpg);
}

.contenu {
  padding: 100px 0;
}

.contenu .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
